{
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "quoteProps": "consistent",
  "endOfLine": "auto",
  "semi": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "printWidth": 80
}